.wideTable {
	width: 100%;
}

.toggleRow {
	background: white;
	white-space: nowrap;
}

.hoverRow:hover {
	background: #EFEFEF;
	cursor: pointer;
}

.toggleRow.opened {
	background: url(chrome://firebug/skin/win/twistyOpen.png) no-repeat 3px 4px;
}

.toggleRow .label {
	font-weight: bold;
	padding-left: 18px !important;
	background: url(chrome://firebug/skin/win/twistyClosed.png) no-repeat 3px 4px;
}

.isClientOnly {
	font-style: italic;
}

.indent {
	padding-left: 18px;
}

.propertyRow {
	cursor: default;
	background-color: white;
}
		
.propertyRow td {
	border-bottom: 1px solid #CCCCCC;
}
		
.propertyRow .label {
	padding: 2px 0 2px 18px;
	width: 30%;
	font-weight: bold;
}
		
.propertyRow .value {
	padding: 2px 0 2px;
	display: block;
	overflow: hidden;
	/* width: 70%; */
}

.propertyHeaderRow {
	background-color: #C1C1C1;
}

.propertyHeader {
	color: black;
	padding: 2px 0 2px 9px;
	font-weight: bold;
}

/*
.toggleRow > .modelCol {
	text-align: left;
}

.typeLabel {
	padding: 2px 0 3px 0 !important;
}

.toggleRow .topTypeLabel {
	background-image: url(chrome://firebug/skin/win/twistyClosed.png);
	background-repeat: no-repeat;
	background-position: 3px 4px;
}

.toggleRow.opened .topTypeLabel {
	background-image: url(chrome://firebug/skin/win/twistyOpen.png);
}

.topTypeLabel {
	font-weight: bold;
	padding-left: 18px !important;
}

.topTypeLabel:hover {
	cursor: pointer;
	color: blue;
	text-decoration: underline;
}

.propertyInfoRow {
	cursor: default;
	background-color: #F5F5F5;
	border-bottom: 1px solid #BEBEBE;
}

.propertyInfoRow > .labelCell {
	padding: 2px 0 2px 8px;
	width: 30%;
	font-weight: bold;
}

.propertyInfoRow > .valueCell {
	padding: 1px 0 1px 25px;
	display: block;
	overflow: hidden;
	width: 70%;
}

.modelScriptCol {
	font-family: monospace;
}

.typeBodyRow table {
	width: 100%;
}

.toggleRowBox {
	padding-left: 14px;
}

.isClientOnly {
	font-style: italic;
}

.propertyInfoHeaderRow {
	background-color: #C1C1C1;
}

.propertyInfoHeaderCell 
{
	padding: 2px 0 2px 8px;
	font-weight: bold;
}
*/